.top-title {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 👈 clave */
    gap: 10px; /* espacio entre botones y título */
}

.top-title .breadcrumb {
    margin: 0;
}

.top-title h1 {
    margin: 0 0 0 20px;
}


.chk {
    padding-left: 20px;
}

/******* Pestañas Generales ********/
#pestanasgeneral {
    float: top;
}

#pestanasgeneral ul{
    margin-left: -40px;
}

#pestanasgeneral li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #232F5C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#pestanasgeneral a:link{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

#contenidopestanasgeneral{
    clear: both;
    padding: 10px 0px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    width: 100%;
}

/******* Pestañas de prospectoes ******/

#pestanasprospecto {
    float: top;
}

#pestanasprospecto ul{
    margin-left: -40px;
}

#pestanasprospecto li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #232F5C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#pestanasprospecto a:link{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

#contenidopestanasprospecto{
    clear: both;
    padding: 10px 0px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    width: 100%;
}

/******* Pestañas de Etapas *******/
#pestanas {
    float: top;
}

#pestanas ul{
    margin-left: -40px;
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #232F5C;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#pestanas a:link{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}

#contenidopestanas{
    clear: both;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    width: 100%;
}

.conten{
    display: none;
}

#lista li{
    cursor: not-allowed;
}

#lista li a{
    pointer-events: none;
}

/****** Documentos ******/

#table-inm_prospecto{
    width: 100% !important;
}
